@import url(https://fonts.googleapis.com/css?family=Poppins:500,600,700);

:root {
    --primary-color: #25344f;
    --secondary-color: #23a6f0;
    --neutral-color: #ffffff;
    --logo-color: #ff0000;
    --light-gray: #d3d3d3;
    --gray: #808080;
    --faded-blue: #e3e3ff58;
}

* {
    box-sizing: border-box;
    padding: 0; border: 0; margin: 0;
    text-transform: none;
    text-decoration: none;
    list-style: none;
    outline: none;
    transition: all .3s ease-out 0s;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--neutral-color);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-thumb {
    height: 1rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
}

.btn {
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: var(--secondary-color);
    color: var(--neutral-color);
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
}

.heading {
    font-size: 4rem;
    font-weight: 700;
    color: var(--primary-color);
    text-transform: capitalize;
    margin-bottom: 2rem;
    text-align: center;
}

.btn span {
    padding: .3rem .5rem;
    /* border-radius: .5rem; */
    /* background-color: var(--primary-color); */
    color: var(--neutral-color);
    margin-left: .5rem;
}

.btn:hover span {
    margin-left: 1.5rem;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

section {
    padding: 2rem 9%;
}

/* header section  */

.header {
    position: static;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    font-size: 2rem;
}

.logo span {
    color: var(--logo-color);
}

.logo i {
    color: var(--secondary-color);

}

li, a {
    font-size: 1.6rem;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--neutral-color);
}

.nav__links {
    display: flex;
    gap: 2rem;
}

.nav__link, .drop__down li {
    list-style: none;
    height: 100%;
    padding: .5rem 1rem;
    cursor: pointer;
}

.drop__down {
    position: absolute;
    padding: 2rem;
    margin: .5rem .5rem;
    background-color: var(--primary-color);
    box-shadow: 0 0 1rem rgba(0, 0, 0, .4);
    border-radius: 1rem;
    display: none;
}

.nav__link a {
    display: flex;
}

.dropdown__icon {
    position: relative;
    right: -.5rem;
    transform: rotate(0deg);
}
.nav__link:hover .dropdown__icon {
    transform: rotate(180deg);
}
.nav__link a:hover {
    color: var(--secondary-color);
}

.nav__link:hover .drop__down {
    display: block;
}

/* hero section */

.hero {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    height: 84vh;
}

.col-12 {
    width: 50%;
}

.col-12 h1 {
    font-size: 5rem;
    color: var(--neutral-color);
    font-weight: 600;
}

.col-12 p {
    font-size: 1.8rem;
    color: var(--neutral-color);
    margin-top: 1.5rem;
    gap: 1.5rem;
}

.col-12 p::first-letter {
    text-transform: capitalize;
}

.col-12 h1::first-letter {
    text-transform: capitalize;
}

.col-12 input {
    margin-top: 5.5rem;
    width: 60%;
    padding: 1.5rem;
    font-size: 2rem;
    color: var(--primary-color);
    border-radius: .5rem;
}

.col-12 button {
    padding: 1.5rem 5%;
    border-radius: .5rem;
    font-size: 2rem;
    margin-left: 1.5rem;
}

.col-22 {
    flex-basis: 60%;
}
.col-22 img {
    position: absolute;
    width: 30%;
    height: auto;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    right: 10%;
    top: 20%;
}

/* services section  */

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80%, 1fr));
    gap: 10%;
    padding: 6%;
    background-color: var(--neutral-color);
}

.services p {
    color: var(--primary-color);
    font-size: 2.5rem;
    text-align: center;
}

.service-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
}

.service-row {
    flex: 1;
    border: 1rem solid var(--primary-color);
    border-radius: 2rem;
    margin: 3rem;
    padding: 6rem 1.5rem;
    background-color: var(--primary-color);

}
.services .service-row h3 {
    font-size: 2.5rem;
    color: var(--light-gray);
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.service-row p {
    font-size: 2rem;
    color: var(--light-gray);
    margin-bottom: 2rem;
}

.service-row .btn {
    font-size: 2rem;
    color: var(--light-gray);
    background-color: transparent;
    padding: 1rem 5%;
    border-radius: .5rem;
    cursor: pointer;
}

.learn__more {
    margin-top: 2rem;
}

.learn__more::first-letter {
    text-transform: capitalize;
}

.learn__more:hover  {
    color: var(--primary-color);
    background-color: var(--neutral-color);
}

.learn__more span {
    color: var(--light-gray);
    margin-bottom: 1rem;
}

.learn__more:hover span {
    color: var(--primary-color);
}
.service-row img {
    width: 20%;
    object-fit: cover;
}

/* tools section  */

.tools {
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    height: 35vh;

}

.img-logos {
    align-items: center;
    display: flex;
    justify-content: center;
}


.tools  img {
    width: 6%;
    margin: 3rem;
    object-fit: cover;
}

/* testimonials section  */
.testimonials {
    background-color: var(--faded-blue);
    margin-top: 4rem;
    padding: 8rem 9%;
    height: 80vh;
}

.testimonials .heading {
    margin-bottom: 4rem;
}

.slide-container {
    max-width: 100%;
    padding: 4rem 0;
    margin-top: 6rem;
}

.slide-content {
    margin: 0 4rem;
    overflow: hidden;
    border-radius: 2.5rem;
}

.card {
    border-radius: 2.5rem;
    background-color: var(--neutral-color);
}


.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.4rem;
}

.image-content {
    row-gap: .5rem;
    position: relative;
    padding: 2.5rem 0;
}

.overlay {
    position: absolute;
    left: 0; top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 2.5rem 2.5rem 0 2.5rem;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -4rem;
    height: 4rem;
    width: 4rem;
    background-color: var(--primary-color);
}

.overlay::after {
    border-radius: 0 2.5rem 0 0;
    background-color: var(--neutral-color);
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: var(--neutral-color);
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--secondary-color);
}

.name {
    font-size: 3rem;
    font-weight: 600;
    color: var(--primary-color);
    text-transform: capitalize;
}

.job-title {
    font-size: 1.8rem;
    color: var(--secondary-color);
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.description {
    font-size: 1.5rem;
    color: var(--gray);
    text-align: center;
}

.swiper-navBtn {
    color: var(--secondary-color);
    transition: color .3s ease;
}

.swiper-navBtn:hover {
    color: var(--primary-color);
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 4rem;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev  {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: var(--secondary-color);
    opacity: 1;
    transition: all .3s ease;
}

.swiper-pagination-bullet-active {
    background-color: var(--primary-color);
}























































/* media queries  */
@media sceen and (max-width: 768px) {
    .slide-content {
        margin: 0 1rem;
    }
    
    .swiper-navBtn {
        display: none;
    }
    
}